<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{root_images}favicon.ico" type="image/vnd.microsoft.icon"> 
        <link rel="icon" href="{root_images}favicon.ico" type="image/vnd.microsoft.icon">
        <meta name="description" content="{meta_description}">
        <meta name="keywords" content="{meta_keywords}">
        <title>Temporal Site Management</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600" type="text/css">
        {css}
        <link rel="stylesheet" href="{root_css}styles.css" type="text/css" media="screen, projection">
        {scripts}
    </head>
    <body>
        <div id="wrapper">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6">
                        <h1>Temporal Default Page</h1>
                        {simple_nav}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <p>Welcome to Temporal site management. You can get started by logging into the admin interface where you can create pages.</p>
                        <p><a href="/login" class="btn btn-primary">Login</a></p>
                    </div>
                </div>
                <div id="footer">&nbsp;</div>
            </div>
        </div>
        {footer}
        {debug}
        {adminbar}
    </body>
</html> 

