<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{root_images}favicon.ico" type="image/vnd.microsoft.icon"> 
        <link rel="icon" href="{root_images}favicon.ico" type="image/vnd.microsoft.icon">
        <meta name="description" content="{meta_description}">
        <meta name="keywords" content="{meta_keywords}">
        <title>{title}</title>
        <script src="/system/inc/js/jquery.js" type="text/javascript" ></script>
        <link href="/system/inc/frameworks/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="/system/inc/frameworks/bootstrap/css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
        <script src="/system/inc/frameworks/bootstrap/js/bootstrap.min.js" type="text/javascript" ></script>
        
        {css}
        <link rel="stylesheet" href="{root_css}styles.css" type="text/css" media="screen, projection">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
        {scripts}
    </head>
    <body>
        <div id="wrapper">
            <div class="container-fluid">
                <div class="row-fluid">
                    
                    <div class="span9">
                        <h1>Temporal Sample Site</h1>
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="nav">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/inside">Inside Page 1</a></li>
                                    </ul>
                                </div>
                            </div>
                        {content}
                    </div>
                    <div class="span3">
                        <h2>User</h2>
                        {user-quickaccess}
                    </div>
                </div>
                <div id="footer">&nbsp;</div>
            </div>
        </div>
        {footer}
        {debug}
        {adminbar}
    </body>
</html> 

